@CHARSET "UTF-8";
@import url(../../css/reset.css);
@import url(../../css/subLayout.css);
/* 
table{
width: 960px; 
height: 500px;
} */
h2{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:-2px;
  font-size:2.0em;
  font-family:sans-serif;
  margin:20px 0;
}
table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #e7708d;
    margin: 20px 10px;
      font-size:1.2em;
  font-family:cursive;
}
th,td{
  text-align:center;
  padding:5px 0;
}
tbody tr:nth-child(even){
  background:#ECF0F1;
}
tbody tr:hover{
background:#BDC3C7;
  color:#FFFFFF;
}
table tbody th {
    width: 150px;
    padding: 10px;
}
table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
table .even {
    background: #fdf3f5;
}