@CHARSET "UTF-8";
.box1{
	position:relative;
	background:#fff;
	width:100px; height:100px; 
	border:1px solid #c2c2c2;
	}
.effect{
	position:relative;
	border:1px solide #c2c2c2;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3)
						0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow:0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(1,1,1,0.1) inset;
}
/* .box2{width:200px; height:10px; border-right:30px solid red; border-bottom:30px solid blue;}
.box3{width:200px; height:10px; border-right:30px solid transparent; border-bottom:30px solid blue;} */