@CHARSET "UTF-8";
body{
   font-family:돋움, Arial, sans-serif;
   font-size:12px;
   color: #979797;
}

.content-container{
   margin:0 auto;
   width:960px;
   height : inherit;
   position:relative;
}

.clearfix:after 
{
   /*after : 막내자식 - 가상의 자식을 만들어줌으로써 본문내용이 늘어나도 페이지 크기가 늘어나게 한다*/
   content: ".";
   clear:both;
   display: block;
   height: 0px;
   visibility: hidden;   
}

.hidden{
   /* display:공간도 없앰 / visibility:공간은 존재하되 보이지만 않음 */
   display: none; 
   /* visibility: hidden; */ 
}


/* ------------------header---------- */
#header{
   min-height:100px;   
}

#logo{
	position: absolute;
	top:5px;
}

#main-menu{
	display: inline-block;		
	position: absolute;
	top: 35px;
	left: 220px;
}

	#main-menu > ul > li{
	   float:left;
	   padding-left: 30px;   
	   background:url("../images/bg-main-menu-vsp.png") no-repeat 13px center;
	}
   
   #main-menu > ul > li:FIRST-CHILD{
      padding-left:0px;
      background: none;   
   }

   #main-menu > ul > li > a{
      font-family:맑은 고딕, sans-serif;
      font-size:17px;
      font-weight:bold;
      color: #000;
      text-decoration:none;            
   }
   
   #main-menu > ul > li > a:HOVER{
      text-decoration: underline;
      color:silver;
   }

#join-menu{
	display: inline-block;
	position: absolute;
	top: 25px;
	right: 0px;
}


   #join-menu > ul > li > a{
      font-family:맑은 고딕, sans-serif;
      font-size:12px;
      font-weight:bold;
      color: inherit;
      text-decoration: none;      
   }
   
   	#join-menu > ul > li{
	   margin: 5px;
	}
/* ------------------visual---------- */
#visual{
	border-top:5px solid #004040;
	text-align:center;
}

/* ------------------body---------- */
#body{
	min-height:400px;
	border-top:1px solid #b8b8b8;
	border-bottom:2px solid #020228;
	background: -webkit-linear-gradient(left, #ffffff, #d8d8d8);
}


 #body .content-container{
      display : flex;
      min-height : inherit;  
 }
 
 .main{
 width:960px;
 padding-top: 25px; 
 text-align:center;
 }
 
 .main > h2{
      font-family:맑은 고딕;
      font-size:23px;
      font-weight:bold;
      color: #f87e10;
      
       
   }
   
  #body h3 {
 	 font-family:italic;
 	 margin:20px;
      font-size:20px;
      font-weight:bold;
      color: #575757;
  	background:#b8b8b8;
      
 }
 

 #body dt {
 font-family:맑은 고딕;
 	 margin:10px;
      font-size:20px;
      color: #20c05c;
 }
 
 #body dd {
 font-family:맑은 고딕;
 	 margin-top:20px;
 	 margin-bottom:70px;
      font-size:13px;
      color: #575757;
 }
 
 #body .img_debate{
 height:200px;
 }
 
 
/* -----------------------------------------loginjoin-body----------------------------------- */ 
 #loginjoin-body{
 min-height:600px;
 font-size:23px;
 }
 
  #loginjoin-body .content-container{
      display : flex;
      min-height : inherit;  
 }
 
 #loginjoin{
 margin-top:50px;
 min-width:340px;
 float:right; 
 padding:20px;
 text-align:right;
 background:#e9e9e9;
 opacity:0.8;
 }
/* ----------------------------------------mypage-body--------------------------------------- */
 #mypage-body{
  min-height:600px;
 font-size:18px;
 }
#mypage-body .content-container{
      display : flex;
      min-height : inherit;  
 }
#mypage{
 margin-top:50px;
 min-width:340px;
 
 padding:20px;
 text-align:center;
 background:#e9e9e9;
 opacity:0.8;
 }
 
 #mypage li{
 margin:5px;
 }
 
 #mypage .language{
 margin-top:20px;
 }

 

/* ------------------footer---------- */
#footer{
	padding:10px;
	background:#333;
	color:white;
	text-align:center;
	border-top:2px solid #020228;
}

