@CHARSET "UTF-8";

@import url(../../css/reset.css);

@import url(../../css/subLayout.css);

/* ------------------body---------- */

.main>h2 {
	font-family: 맑은 고딕;
	font-size: 23px;
	font-weight: bold;
	color: #f87e10;
}

#body h3 {
	font-family: italic;
	margin: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #575757;
	background: #b8b8b8;
}

#body dt {
	font-family: 맑은 고딕;
	margin: 10px;
	font-size: 20px;
	color: #20c05c;
}

#body dd {
	font-family: 맑은 고딕;
	margin-top: 20px;
	margin-bottom: 70px;
	font-size: 13px;
	color: #575757;
}

#body .img_debate {
	height: 200px;
}

#body {
	min-height: 600px;
	font-size: 18px;
}

#mypage {
	margin-top: 30px;
	min-width: 100px;
	padding: 20px;
	text-align: left;
	background : #f8f8f8;
	opacity: 0.8;
	font-weight: bold
}


#mypage li {
	color: #5c5c5c;
	margin:20px 20px 20px 100px;
	
}

#cmt{
	font-style: normal;
	padding: 15px;
	margin-top:5px;
	color: #5c5c5c;
}
#cmt span{
	padding: 15px;
	margin-top:5px;
	text-align:left;
	display:inline-block;
	width:70%;
	height:150px;
	font-style: normal;
	border:1px solid #626262;
	background:#fafafa;
	}

	

#mypage p {
text-align:center;	
}
#button {
	padding: 10px;
	text-decoration: none;
	color:white;
	background:#20c05c;
}

#mypage .language {
	margin-top: 20px;
}






.language {
	width:80%;
	margin:0 auto;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;	
	
}
.language table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	
}

.language tr:nth-child(odd){ background-color:#d4ffaa; }
.language tr:nth-child(even)    { background-color:#ffffff; }
.language td{
	vertical-align:middle;
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.language tr:last-child td{
	border-width:0px 1px 0px 0px;
}.language tr td:last-child{
	border-width:0px 0px 1px 0px;
}.language tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.language tr:first-child td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	
	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.language tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	
	background: -o-linear-gradient(top,#5fbf00,3f7f00);
	background-color:#5fbf00;
}
.language tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.language tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}