@CHARSET "UTF-8";

@import url(../../css/reset.css);

@import url(../../css/subLayout.css);

/* ------------------body---------- */
.main>h2 {
	font-family: 맑은 고딕;
	font-size: 23px;
	font-weight: bold;
	color: #f87e10;
}

#body h3 {
	font-family: italic;
	margin: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #575757;
	background: #b8b8b8;
}

#body dt {
	font-family: 맑은 고딕;
	margin: 10px;
	font-size: 20px;
	color: #20c05c;
}

#body dd {
	font-family: 맑은 고딕;
	margin-top: 20px;
	margin-bottom: 70px;
	font-size: 13px;
	color: #575757;
}

#body .img_debate {
	height: 200px;
}

#body {
	min-height: 600px;
	font-size: 18px;
}

#mypageRev {
	margin-top: 30px;
	min-width: 100px;
	padding: 20px;
	text-align: left;
	background : #e9e9e9;
	opacity: 0.8;
	font-weight: bold
}


#mypageRev li {
	color: #5c5c5c;
	margin:20px 20px 20px 100px;
	
}

#cmt{
	font-style: oblique;
	padding: 15px;
}
textarea{
	margin-top:5px;
	padding: 15px;
}


#mypageRev p {
text-align:center;	
}

#mypageRev .language {
	margin-top: 20px;
}

p input {
	background:#20c05c;
	color:white;
	padding: 10px;
	border:0px solid white;
}